# unix tools with steroids
##########################
function ls() { case $* in -la* ) shift 1; command exa -lahG "$@" ;; * ) command exa "$@" ;; esac }
alias tree="ls -T"
alias cat="batcat"
alias find="fdfind"
alias top="htop"

# Git shortcuts
###############
alias gpl="git pull --rebase"
alias gph="git push"
alias ga="git add"
alias gaa="git add -A"
alias gc="git commit -S -m"
alias git-delete-merged='git branch --merged | egrep -v "(^\*|master|dev)" | xargs git branch -d' # Removes from local repo branches tha are already merged in origin
alias git-sign-old="git filter-branch -f --commit-filter 'git commit-tree -S "$@"' HEAD" # Signs old commits with GPG key

# Kubernetes
############
function dbproxy() { kubectl --namespace=staging port-forward $(kubectl --namespace=staging get pods | awk '/db-proxy/ {printf $1}') 5432:5432 }

# Other tools
#############
alias vi="vim"
alias awsume="source awsume"

# Utils
#######
alias update="sudo apt update && sudo apt upgrade && sudo apt autoremove"
alias self-signed-cert="openssl req -x509 -nodes -new -sha256 -days 3650 -newkey rsa:4096 -keyout privkey.key -out cert.pem" # Generates a self-signed cert with 10 years expiry